@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,400;1,200;1,300;1,400&display=swap');

@import url('https://kit.fontawesome.com/e0a66df175.js');

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration:none;
}
:root{
    --font-primary:"Baloo Da 2", serif;
    --font-segundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}
html{
    scroll-behavior:smooth;
}
body{
    font-size:16px;

}
img{
    width:95%;
    height:300px;
}
h1{
    font-family:Var(--font-primary);
    font-size:2em;
}
p{
    font-family:var(--font-secundary);
}
.container-work{
    position:relative;
    height:100px;
}
.work{
    position:absolute;
    right:2%;
    top:25%;
    background:white;
    width:100px;
    display:flex;
    justify-content:center;
    border:2px solid black;

}

.work button{
    padding:0.2em 1.2em 0.2em 1.2em;
    font-family:var(--font-action);
    font-size:1.3em;
    border:2px solid black;
    transform: translate(-5px, -5px);
    transition: 0.2s;
    cursor:pointer;
    outline:none;
    box-shadow: 1px 3px 0px rgb(156, 144, 144);
}
.work button:hover{
    transform: translate(-10px, -8px);
    box-shadow:none;
}
.welcome{
    height:100vh;
    align-items: center;
    display:flex;
    justify-content:center;
}
.text-center{
    text-align: center;
}
.row{
    display:flex;
    justify-content:space-evenly;
}
.thumbmail{
    text-align: center;
    border:1px solid black;

}
.imagem{
    display:flex;
    justify-content:center;
}
.header-site{
    background-image: url(../img/areia.jpg);
    background-position: center 25%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:#fff;
    height:100vh;
    padding-bottom:100px;
}
.content-site{
    font-family:var(--font-action);
    padding-top:50px;
    padding-bottom:50px;
}
.column-mid p{
    letter-spacing:0.1em;
}

.img-site{
    background-image:url(../img/laranja.jpg);
    background-position: center 15%;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding-top:200px;
    color:#fff;
    height:200px;
}
.img-site-2{
    background-image:url(../img/zoom.jpg);
    background-position: center 50%;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding-top:200px;
    color:#fff;
    height:200px;
}
.footer{
    font-family: var(--font-secundary);
    background:black;
    color:#fff;
    height:50px;
}
@media(max-width:900px){
    .img-site{
        padding-top:200px;
        padding-bottom:200px;
    }
    .img-site-2{
        padding-top:200px;
        padding-bottom:200px;
    }
}